# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Build output
build/
DerivedData/

# SPM
.build/
.swiftpm/

# CocoaPods (not used, but just in case)
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Playgrounds
timeline.xctimeline
playground.xcworkspace
